<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="docker-registry" version="1">
    <about>
        <name>dockerpoller</name>
        <version>1.1.0</version>
        <target-go-version>17.7.0</target-go-version>
        <description>Docker package poller plugin for Thoughworks GoCD.</description>
        <vendor>
            <name>Magnus Lyckå</name>
            <url></url>
        </vendor>
        <target-os>
            <value>Linux</value>
        </target-os>
    </about>
</go-plugin>
